*{
    /* margin: 0; */
}
.raleway{
   font-family: "Raleway", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
   background-color:rgba(242, 237, 237, 1);
}

main{
    margin-right: 150px;
    margin-left: 150px;

}



/* nav style */

nav{
    display: flex;
    justify-content:space-between;
    text-align: center;

}
.logo{
    font-size: 30px;
    color: #4E47FF;
    font-weight: 800;
    margin:45.5px auto auto 150px ;
}
.nav-btn{
    font-size: 14.22px;
    font-weight: bold;    
    color: #FFFFFF;
    border: none;
    border-radius: 8.89px;
    margin: 45.5px 150px auto auto;
    padding: 10.83px 32px 10.43px 32px;
}

/* banner style */

.banner{
     text-align: center
}
.banner-heading{
     font-size:57.78px ;
     font-weight: bold;
     margin: 240px 237.8px auto 237.8px;
}
.banner-btn{
     font-size: 14.22px;
     font-weight: bold;    
     color: #FFFFFF;
     border: none;
     border-radius: 8.89px;
     padding: 10.83px 32px 10.43px 32px;
     margin-top:32.89px;
     margin-bottom:100.56px;

}
.bg-img{
     background-image: url('../assets/Hero-bg.png');
     width:100%;
}

/* shared styles */

.blue{
    background-color: #4E47FF;
    font-size: 14.22px;
    font-weight: bold;    
    color: #FFFFFF;
    border: none;
    border-radius: 8.89px;
    padding: 10.83px 32px 10.43px 32px;

}

button:hover{
    cursor: pointer;
    background-color: cadetblue;
    transition: 0.5s;
    transform: scale(1.1);
}

/* action style */


.action{
    display: flex;
    margin-top: 116px;
    margin-bottom: 116px;
}
.action-container{
    align-items: center;
    justify-content: center;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
}
.action-description{
    font-size: 24px;
    color:#252432;
    margin-bottom: 23px;

}
.action-img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}


/* user colum style */


.user-hero{
    background-color: hsla(242, 100%, 64%,10%);
    border-radius: 24px;
    padding: 50px 142px 50px 142px;
    margin-bottom: 116px;
}

.user-title{
    font-size: 34px;
    font-weight: bold;
    color: #252432;
}

.user-subcolum{
    display: flex;
    justify-content: space-between;
}

.total-user{
    font-size: 80px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0px;
    color: #4E47FF;

}
.active-user{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: hsla(0, 0%, 0%,50%);
}

/* feedback section */
.review-title{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

.box-item{
    display: flex;
    gap: 10px;
    
}
.box{
    background-color: #FFFFFF;
    border:none;
    width: 350px;
    padding: 24px;
    border-radius: 24px;
}

.description{
    font-size: 14px;
}

.review{
    display: flex;
    align-items: center;
    gap: 10px;
}

.reviewer-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.reviewer{
    margin-bottom: 0;
}

.date{
    color: #8987A1;
    margin-top: 0;
}




/* studio vertex style */
.studio-vertex{
    margin-top: 116px;
}

.sv-colum{
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
    padding: 31px 120px 71px 120px;
    border-radius: 14px;
    margin-bottom: 92px;
}

.studio-title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.studio-descriptin{
    margin-top: 0px;
    color: #8987A1; 
}

.sv-img{
    border-radius: 48px;
}

/* form style */

.form-section{
    display: flex;
    justify-content: space-between;
}

.form-text{
    align-items: center;
    font-size: 97px;
    font-weight: bold;
}
.form-colum label{
    font-weight: 700;
}

.form-btn{
    margin-bottom: 85px;
}

input[type="email"],input[type="text"]{
    width: 497px;
    height: 70px;
    gap: 19px;
    border: none;
    border-radius: 10px;
}
textarea{
    border-radius: 10px;
}

input::placeholder , textarea::placeholder{
    padding-top: 20px;
    padding-left: 32px;
}

/* footer section */

.footer-section{
     text-align: center;
     justify-content: center;
     background-color: #FFFFFF;
     padding-top: 84px;
     padding-bottom: 103px;
}
.footer-title{
    font-size: 100px;
    margin-bottom: 0;
    color: #4E47FF;
}
.footer-description{
     color: #8987A1;
}
.list ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-left: auto;
}
ul a{
    text-decoration: none;
    margin-right: 48px;
    color: #8987A1;
}