.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main{
    margin-right: 150px;
    margin-left: 150px;

}

/* nav style */

nav{
    display: flex;
    justify-content:space-between;
    text-align: center;

}
.logo{
    font-size: 30px;
    color: #4E47FF;
    font-weight: 800;
    margin:45.5px auto auto 150px ;
}
.nav-btn{
font-size: 14.22px;
font-weight: bold;    
color: #FFFFFF;
border: none;
border-radius: 8.89px;
margin: 45.5px 150px auto auto;
padding: 10.83px 32px 10.43px 32px;
}

/* banner style */

.banner{
    text-align: center
}
.banner-heading{
    font-size:57.78px ;
    font-weight: bold;
    margin: 240px 237.8px auto 237.8px;
}
.banner-btn{
font-size: 14.22px;
font-weight: bold;    
color: #FFFFFF;
border: none;
border-radius: 8.89px;
padding: 10.83px 32px 10.43px 32px;
margin-top:32.89px;
margin-bottom:100.56px;

}
.bg-img{
     background-image: url('../assets/Hero-bg.png');
     width:100%;
}

/* shared styles */

.blue{
background-color: #4E47FF;
font-size: 14.22px;
font-weight: bold;    
color: #FFFFFF;
border: none;
border-radius: 8.89px;
padding: 10.83px 32px 10.43px 32px;

}

/* action style */


.action{
    display: flex;
    margin-top: 116px;
    margin-bottom: 116px;
}
.action-container{
    align-items: center;
    justify-content: center;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
}
.action-description{
    font-size: 24px;
    color:#252432;
    margin-bottom: 23px;

}
.action-img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}


/* user colum style */


.user-hero{
    background-color: hsla(242, 100%, 64%,10%);
    border-radius: 24px;
    padding: 50px 142px 50px 142px;
    margin-bottom: 116px;
}

.user-title{
    font-size: 34px;
    font-weight: bold;
    color: #252432;
}

.user-subcolum{
    display: flex;
    justify-content: space-between;
}

.total-user{
    font-size: 80px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0px;
    color: #4E47FF;

}
.active-user{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: hsla(0, 0%, 0%,50%);
}